@import 'tailwindcss';
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: 'Roboto';
  /* background-color: #1e1a4d; */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
